{% extends "base.html" %}

{# ------------------------------------- #}

{# ------------------------------------- #}
{% block content %}
<div id="content">
<h1>{{ message_add_new }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="../{{ form_action_view}}" method="post" class="form-group">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{{ submit_button_text }}" class="btn btn-success"/>
</form>
</div>
{% endblock %}
{# ------------------------------------- #}
