<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CzyRek - Czyżew Recrutation System</title>
  <meta name="description" content="Czyżew Recrutation System">
  <meta name="author" content="s4ros">
  <meta name="author" content="emi">

  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% block topnav %}
  <div id="topnav">
    <div id="topmenu" class="btn-toolbar" role="toolbar">
      <a href="{% url 'index_after_login' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-home"></span> Home</button></a>
      <a href="{% url 'list_users' %}"><button class="btn btn-success" type="button"><span class="glyphicon glyphicon-user"></span> Użytkownicy</button></a>
      <a href="{% url 'list_candidates' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-education"></span> Kandydaci</button></a>
      <a href="{% url 'list_schools' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-blackboard"></span> Szkoły</button></a>
      <a href="{% url 'list_languages' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-globe"></span> Języki</button></a>
      <a href="{% url 'list_profiles' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-knight"></span> Profile</button></a>
      <a href="{% url 'list_subjects' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-briefcase"></span> Przedmioty</button></a>

      <a href="{% url 'logout' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Logout</button></a>
    </div>
  </div>
  {% endblock topnav %}


<div id="page">
  {% block content %}
  {% endblock content %}
</div>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
