{% extends "base.html" %}

{# ------------------------------------- #}
{% block topnav %}
{% endblock topnav %}
{# ------------------------------------- #}
{% block content %}
<div id="container">
  <div id="sql_logo"></div>
  <div id="logging_panel">
    <form action="{% url 'index_login' %}" method="POST" class="form-group">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
        <label for="{{ form.username.id_for_label }}">Login:</label>
        {{ form.username }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.password.id_for_label }}">Hasło:</label>
        {{ form.password }}
        <div id="send_button">
          <input type="submit" value="Zaloguj" class="btn btn-success"/>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{# ------------------------------------- #}
