{% extends "list_common.html" %}

{# ------------------------------------- #}

{% block list_table %}
{# ------------------------------------- #}



{% if all_profiles %}
      <div class="table">
        <div class="row header green">
          <div class="cell">ID</div>
          <div class="cell">Nazwa profilu</div>
          <div class="cell">Skrót</div>
          <div class="cell">Szkoła</div>
          <div class="cell">Aktywny?</div>
          <div class="cell">Akcje</div>
        </div>
    {% for profile in all_profiles %}
      <div class="row">
        <div class="cell">{{ profile.id }}</div>
        <div class="cell">{{ profile.name }}</div>
        <div class="cell">{{ profile.shortcut }}</div>
        <div class="cell">{{ profile.school_id.name }}</div>
        <div class="cell">
          {% if profile.is_available %}
            <span class="glyphicon glyphicon-ok-sign green"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove-sign red"></span>
          {% endif %}
        </div>
        <div class="cell">
          {% if is_admin %}
            <a href="{% url 'edit_profile' profile_id=profile.id %}"><button type="button" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button></a>
            <a href="{% url 'delete_profile' profile_id=profile.id %}" class="btn_usun"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Usuń</button></a>
          {% else %}
            <button type="button" class="btn btn-sm disabled"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button>
            <button type="button" class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
      <div class="row header green">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">Wszystkich: {{ profiles_count }}</div>
      </div>
    </div>
{% else %}
    <p><span class="glyphicon glyphicon-minus"></span> Brak profili do wyświetlenia :(</p>
{% endif %}

{# ------------------------------------- #}
{% endblock %}
