{% extends "list_common.html" %}

{% block list_table %}
{# ------------------------------------- #}

{% if all_candidates %}
      <div class="table">
        <div class="row header green">
          <div class="cell">ID</div>
          <div class="cell">Imiona</div>
          <div class="cell">Nazwisko</div>
          <div class="cell">Telefon</div>
          <div class="cell">Data urodzenia</div>
          <div class="cell" tooltip="Język nauczany w Gimnazjum #1" tooltip-persistent>JG#1</div>
          <div class="cell" tooltip="Język nauczany w Gimnazjum #2" tooltip-persistent>JG#2</div>
          <div class="cell" tooltip="Preferowana Szkoła #1" tooltip-persistent>PS#1</div>
          <div class="cell" tooltip="Preferowana Szkoła #2" tooltip-persistent>PS#2</div>
          <div class="cell" tooltip="Preferowana Szkoła #3" tooltip-persistent>PS#3</div>
          <div class="cell" tooltip="Przedmiot do punktacji #1" tooltip-persistent>PDP#1</div>
          <div class="cell" tooltip="Przedmiot do punktacji #2" tooltip-persistent>PDP#2</div>
          <div class="cell" tooltip="Przedmiot do punktacji #3" tooltip-persistent>PDP#3</div>
          <div class="cell" tooltip="Preferowany język obcy #1" tooltip-persistent>PJO#1</div>
          <div class="cell" tooltip="Preferowany język obcy #2" tooltip-persistent>PJO#2</div>
          <div class="cell">Zdjęcie</div>
          <div class="cell"tooltip="Aktywna preferencja szkoły" tooltip-persistent><B>AKT</B></div>
          <div class="cell">Akcje</div>
        </div>
    {% for candidate in all_candidates %}
      <div class="row">
        <div class="cell">{{ candidate.id }}</div>
        <div class="cell">{{ candidate.name }}</div>
        <div class="cell">{{ candidate.surname }}</div>
        <div class="cell">{{ candidate.phone }}</div>
        <div class="cell">{{ candidate.birthdate|date:"Y-m-d" }}</div>
        <div class="cell">{{ candidate.gim_language1.shortcut }}</div>
        <div class="cell">{{ candidate.gim_language2.shortcut }}</div>
        <div class="cell"><a href="{% url 'edit_active_school' %}/{{ candidate.id }}/{{ candidate.primary_school.id }}">{{ candidate.primary_school.shortcut }}</a></div>
        <div class="cell"><a href="{% url 'edit_active_school' %}/{{ candidate.id }}/{{ candidate.secondary_school.id }}">{{ candidate.secondary_school.shortcut }}</a></div>
        <div class="cell"><a href="{% url 'edit_active_school' %}/{{ candidate.id }}/{{ candidate.third_school.id }}">{{ candidate.third_school.shortcut }}</a></div>
        <div class="cell">{{ candidate.subject_one.shortcut }}</div>
        <div class="cell">{{ candidate.subject_two.shortcut }}</div>
        <div class="cell">{{ candidate.subject_three.shortcut }}</div>
        <div class="cell">{{ candidate.primary_language.shortcut }}</div>
        <div class="cell">{{ candidate.secondary_language.shortcut }}</div>
        <div class="cell"><img src="{{ candidate.photo.url }}" class="kandydat-mini"/></div>
        <div class="cell"><B>{{ candidate.active_school.shortcut}}</B></div>
        <div class="cell">
            {# edit button #}
            <a href="{% url 'edit_candidate' candidate_id=candidate.id %}">
              <button type="button" class="btn btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> Edytuj
              </button>
            </a>
            {# delete button #}
            <a href="{% if is_admin %}{% url 'delete_candidate' candidate_id=candidate.id %}{% endif %}" class="btn_usun">
              <button type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span> Usuń
              </button>
            </a>

        </div>
      </div>
    {% endfor %}
      <div class="row header green">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">Wszystkich: {{ candidates_count }}</div>
      </div>
    </div>
{% else %}
    <p><span class="glyphicon glyphicon-minus"></span> Brak kandydatów do wyświetlenia :(</p>
{% endif %}

{# ------------------------------------- #}
{% endblock %}

{% block scripts %}
  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
