{% extends "list_common.html" %}

{% block list_table %}
{# ------------------------------------- #}

{% if all_candidates %}
      <div class="table">
        <div class="row header green">
          <div class="cell">ID</div>
          <div class="cell">Imię</div>
          <div class="cell">Nazwisko</div>
          <div class="cell">Miasto</div>
          <div class="cell">Telefon</div>
          <div class="cell">PESEL</div>
          <div class="cell">Data urodzenia</div>
          <div class="cell">Akcje</div>
        </div>
    {% for candidate in all_candidates %}
      <div class="row">
        <div class="cell">{{ candidate.id }}</div>
        <div class="cell">{{ candidate.name }}</div>
        <div class="cell">{{ candidate.surname }}</div>
        <div class="cell">{{ candidate.city }}</div>
        <div class="cell">{{ candidate.phone }}</div>
        <div class="cell">{{ candidate.pesel }}</div>
        <div class="cell">{{ candidate.birthdate }}</div>
        <div class="cell">
            {# edit button #}
            <a href="">
              <button type="button" class="btn btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> Edytuj
              </button>
            </a>
            {# delete button #}
            <a href="{% if is_admin %}{% url 'delete_candidate' candidate_id=candidate.id %}{% endif %}" class="btn_usun">
              <button type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span> Usuń
              </button>
            </a>

        </div>
      </div>
    {% endfor %}
      <div class="row header green">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">Wszystkich: {{ candidates_count }}</div>
      </div>
    </div>
{% else %}
    <p><span class="glyphicon glyphicon-minus"></span> Brak kandydatów do wyświetlenia :(</p>
{% endif %}

{# ------------------------------------- #}
{% endblock %}
