{% extends "base.html" %}

{# ------------------------------------- #}

{# ------------------------------------- #}
{% block content %}
<div id="content">
  <h2>Lista punktowanych przedmiotów:</h2>
<div class="hr_separator">
  {% if is_admin %}
  <a href="{% url 'add_subject' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Dodaj nowy przedmiot</button></a>
  {% endif %}
  <hr />
</div>
{% if all_subjects %}
      <div class="table">
        <div class="row header green">
          <div class="cell">ID</div>
          <div class="cell">Imię</div>
          <div class="cell">Nazwisko</div>
          <div class="cell">Miasto</div>
          <div class="cell">Telefon</div>
          <div class="cell">PESEL</div>
          <div class="cell">Data urodzenia</div>
          <div class="cell">Akcje</div>
        </div>
    {% for subject in all_subjects %}
      <div class="row">
        <div class="cell">{{ subject.id }}</div>
        <div class="cell">{{ subject.name }}</div>
        <div class="cell">{{ subject.wage }}</div>
        <div class="cell">{{ subject.is_available }}</div>
        <div class="cell">
          {% if is_admin %}
            <a href=""><button type="button" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button></a>
            <a href="{% url 'delete_subject' subject_id=subject.id %}" class="btn_usun"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Usuń</button></a>
          {% else %}
            <button type="button" class="btn btn-sm disabled"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button>
            <button type="button" class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
      <div class="row header green">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">Wszystkich: {{ subjects_count }}</div>
      </div>
    </div>
{% else %}
    <p><span class="glyphicon glyphicon-minus"></span> Brak przedmiotów do wyświetlenia :(</p>
{% endif %}
<div class="hr_separator">
  <hr />
  {% if is_admin %}
  <a href="{% url 'add_subject' %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Dodaj nowy przedmiot</button></a>
  {% endif %}
</div>
</div>
{% endblock content %}
{# ------------------------------------- #}
{% block scripts %}

{% endblock scripts %}
{# ------------------------------------- #}
