{% extends "list_common.html" %}

{# ------------------------------------- #}

{% block list_table %}
{# ------------------------------------- #}


{% if all_subjects %}
      <div class="table">
        <div class="row header green">
          <div class="cell">ID</div>
          <div class="cell">Nazwa przedmiotu</div>
          <div class="cell">Przelicznik</div>
          {# <div class="cell">Szkoła</div>#}
          <div class="cell">Aktywny?</div>
          <div class="cell">Akcje</div>
        </div>
    {% for subject in all_subjects %}
      <div class="row">
        <div class="cell">{{ subject.id }}</div>
        <div class="cell">{{ subject.name }}</div>
        <div class="cell">{{ subject.wage }}</div>
        {# <div class="cell">{{ subject.school.name }}</div>#}
        <div class="cell">
          {% if subject.is_available %}
            <span class="glyphicon glyphicon-ok-sign green"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove-sign red"></span>
          {% endif %}
        </div>
        <div class="cell">
          {% if is_admin %}
            <a href="{% url 'edit_subject' subject_id=subject.id %}"><button type="button" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button></a>
            <a href="{% url 'delete_subject' subject_id=subject.id %}" class="btn_usun"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Usuń</button></a>
          {% else %}
            <button type="button" class="btn btn-sm disabled"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button>
            <button type="button" class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
      <div class="row header green">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        {# <div class="cell"></div>#}
        <div class="cell">Wszystkich: {{ subjects_count }}</div>
      </div>
    </div>
{% else %}
    <p><span class="glyphicon glyphicon-minus"></span> Brak przedmiotów do wyświetlenia :(</p>
{% endif %}

{# ------------------------------------- #}
{% endblock %}
